$base-color-primary: #EAE9F3;
$base-color-primary-lighter-1: #FAFAFF;
$base-color-primary-darker-1: #D7D5E5;

$base-color-secondary: #414149;
$base-color-secondary-lighter-1: #505059;
$base-color-secondary-lighter-2: #616166;
$base-color-secondary-darker-1: #2B2B33;
$base-color-secondary-darker-2: #14141A; 

$primary: #5E5CA6;
$primary-lighter-1: #7573BF;
$primary-lighter-2: #908FCC;
$primary-darker-1: #262473;
$primary-darker-2: #3A388C;

$secondary: #7BDE21;
$secondary-lighter-1: #93F23D;
$secondary-lighter-2: #B0FF4D;
$secondary-darker-1: #6CCC14;
$secondary-darker-2: #5FBD09;